RtmpStreaming/ios/LiveStreaming-iOS-Objective-C/LiveStreaming/Model/KeyCenter.m
RtmpStreaming/ios/LiveStreaming-iOS-Objective-C/LiveStreaming/Beautify/FaceUnity/authpack.h
*.framework
*.mp4
*.dll
*.lib
*.log
*.zip
*.obj
*.pdb
*.tlog
*.stash
*.db
*.opendb
*.suo
*.qm
*.props
*.cbt
*.idx
*.ilk
*.exe
moc_mainwindow.cpp
moc_predefs.h
AgoraMediaBase.h
IAgoraMediaPlayer.h
IAgoraLog.h
*.user
MediaPlayer/samples/win/AgoraPlayer_Quickstart/AgoraSdk/include/AgoraBase.h
MediaPlayer/samples/win/AgoraPlayer_Quickstart/AgoraSdk/include/IAgoraLiveEngine.h
MediaPlayer/samples/win/AgoraPlayer_Quickstart/AgoraSdk/include/IAgoraLivePublisher.h
MediaPlayer/samples/win/AgoraPlayer_Quickstart/AgoraSdk/include/IAgoraLiveSubscriber.h
MediaPlayer/samples/win/AgoraPlayer_Quickstart/AgoraSdk/include/IAgoraMediaEngine.h
MediaPlayer/samples/win/AgoraPlayer_Quickstart/AgoraSdk/include/IAgoraRtcEngine.h
MediaPlayer/samples/win/AgoraPlayer_Quickstart/AgoraSdk/include/IAgoraService.h
*.xcuserstate
.vscode
.idea
